@font-face {
  font-family: "iconfont"; /* Project id 3863694 */
  src: url('//at.alicdn.com/t/c/font_3863694_7mhcfdjtx8.woff2?t=1674015394603') format('woff2'),
       url('//at.alicdn.com/t/c/font_3863694_7mhcfdjtx8.woff?t=1674015394603') format('woff'),
       url('//at.alicdn.com/t/c/font_3863694_7mhcfdjtx8.ttf?t=1674015394603') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e859";
}

.icon-xingxing1:before {
  content: "\e870";
}

.icon-yitongguo:before {
  content: "\e600";
}

.icon-weitongguo:before {
  content: "\e601";
}

.icon-shenhezhong:before {
  content: "\e602";
}

.icon-shijuan-tianchong:before {
  content: "\e65b";
}

.icon-shijuanguanli:before {
  content: "\e630";
}

.icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e63f";
}
